* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #14030e;
    min-height: 100vh;
}


/* BACKGROUND ANIMATED */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
    z-index: -100;
    
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #210F49;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(42, 36, 83, 0.5), 
    0 0 25px #1a0c56,
    0 0 50px #1a0c56;
    /* #210F49 BG */
    /* #72D5C4 TEXT */
    animation: animate 12s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) 
{
    background: #72D5C4;
    box-shadow: 0 0 0 5px rgba(54,54,68, 0.6),
    0 0 50px #72D5C4,
    0 0 100px #72D5C4
}
@keyframes animate 
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
